.grid-layout.grid-layout2.margin-top50
  .grid-item
    %h3.margin-top0
      Safe Deployments
    %p
      You deploy new versions for customer benefits - more speed, more stability, more features and so on.
      Having a deployment fail defeats the entire purpose of deploying new versions. Hence
      GitLab provides deployment strategies to safeguard your deployments - including
      what to deploy to production (via
      %a{href: "https://docs.gitlab.com/ee/operations/feature_flags.html"}Feature Flags
      ), who to deploy it to (via
      %a{href: "https://docs.gitlab.com/ee/ci/environments/incremental_rollouts.html"}Progressive Delivery
      )
      and advanced deployment strategies like
      %a{href: "https://docs.gitlab.com/ee/user/project/canary_deployments.html"}Canary
      and
      %a{href: "https://docs.gitlab.com/ee/ci/environments/incremental_rollouts.html#blue-green-deployment"}blue green deployments
      ).

  .grid-item
    %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "300", :src => "https://www.youtube.com/embed/ihdxpO5rgSc", :width => "500"}
